@using frontend.ViewModels.TabbedNavigation

@inject ProductSizeService ProductSizeService

<div class="tabbed-navigation_tabs">
    @foreach (var tab in Tabs)
    {
        <button class="tabbed-navigation_tab-button @(tab.Visible ? "selected" : "")" @onclick="@(() => SwitchToTab(Tabs.IndexOf(tab)))">
            @tab.Title
        </button>
    }
</div>
@foreach (var tab in Tabs)
{
    <div class="tabbed-navigation_tab-content @(tab.Visible ? "tabbed-navigation_tab-content--visible" : "")">
        @tab.Content
    </div>
}

@code {
    [Parameter]
    public required List<TabViewModel> Tabs { get; set; }

    [Parameter]
    public int CurrentTab { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SwitchToTab(Tabs.Count - 1);
        ProductSizeService.ProductSizeAddedOrDeleted += SwitchToLastTab;
    }

    public void Dispose()
    {
        ProductSizeService.ProductSizeAddedOrDeleted -= SwitchToLastTab;
    }

    public void SwitchToTab(int id)
    {
        // Console.WriteLine($"Switching to tab {id}");
        Tabs.ForEach(t => t.Visible = false);
        Tabs.ElementAt(id).Visible = true;
        CurrentTab = id;
        StateHasChanged();
    }

    public void SwitchToLastTab()
    {
        Console.WriteLine($"Switching to last tab");
        Tabs.ForEach(t => t.Visible = false);
        Tabs.Last().Visible = true;
        CurrentTab = Tabs.Count - 1;
        StateHasChanged();
    }
}
