@page "/manage/login"
@layout ManageLayout

@using System.ComponentModel.DataAnnotations;
@using frontend.Components.Shared.UI
@using frontend.DTOs
@using frontend.Models.Manage.Forms
@using frontend.Services
@using frontend.Services.API

@inject UserService UserService
@inject NavigationManager NavManager
@inject NotificationService NotificationService
@inject AppStateService AppState

<PageTitle>Login (Gerenciamento)</PageTitle>


@if (IsSubmitting)
{
    <ContentLoader DisplayMessage="Verificando credenciais" />
}
else
{
    <EditForm class='login-form' Model="@loginFormModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="login-form__wrapper">
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                @loginApiHandler.GetErrorNotificationModel(errorMessage)
            }

            <div>
                <label for="username" class="sr-only">
                    Username:
                </label>

                <InputText
                name="username"
                id="username"
                autocomplete="username"
                placeholder="Usuário"
                @bind-Value="loginFormModel.Username"
                disabled="@IsSubmitting" />
                <ValidationMessage For="@(() => loginFormModel.Username)" />
            </div>

            <div>
                <label for="password" class="sr-only">
                    Password:
                </label>

                <InputText type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                placeholder="Senha"
                @bind-Value="loginFormModel.Password"
                disabled="@IsSubmitting"/>
                <ValidationMessage For="@(() => loginFormModel.Password)" />
            </div>

            <div>
                <button type="submit" @onclick="HandleValidSubmit" disabled="@IsSubmitting">Login</button>
            </div>
        </div>
    </EditForm>
}

@code {
    private LoginFormModel loginFormModel = new();
    private string? errorMessage;
    private bool IsSubmitting { get; set; } = false;
    private ApiStateHandler<object> loginApiHandler = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task HandleValidSubmit()
    {
        IsSubmitting = true;
        errorMessage = null;

        var userLoginRequestDto = new UserLoginRequestDto
        {
            Username = loginFormModel.Username,
            Password = loginFormModel.Password
        };

        await loginApiHandler.ExecuteAsync(UserService.LoginFunc(userLoginRequestDto));

        if (loginApiHandler.IsSuccess())
        {
            // The server sets the cookie if credentials are valid
            AppState.IsAuthenticated = true;

            if (AppState.AttemptedPath != null)
            {
                NavManager.NavigateTo(AppState.AttemptedPath);
            }
            else
            {
                NavManager.NavigateTo("manage/");
            }
        } else {
            errorMessage = "Credenciais inválidas.";
            NotificationService.Display(loginApiHandler.GetErrorNotificationModel(errorMessage));
        }

        IsSubmitting = false;
    }

    private void HandleInvalidSubmit()
    {
        errorMessage = "Por favor corrija os erros abaixo.";
    }
}