@page "/manage/rotulos"
@layout ManageLayout

@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations;
@using frontend.Components.Manage.UI
@using frontend.DTOs
@using frontend.DTOs.Contracts
@using frontend.Services
@using frontend.Services.API
@using frontend.Components.Shared.UI.SmartComponent
@using frontend.Components.Shared.UI.SVG

@inject AppStateService AppState
@inject ProductStateService ProductStateService
@inject ProductSizeLabelService ProductSizeLabelService
@inject NotificationService NotificationService

<PageTitle>Rótulos (Gerenciamento)</PageTitle>

<CenterContent MinWidth="200px">
    <p>
        Gerencie os rótulos de tamanho dos produtos. Rótulos são usados para identificar tamanhos de produtos, como "P", "M", "G", etc.
    </p>

    <section>
        <div class="one">
            <h1>@(isUpdating ? "Editando" : "Adicionando") rótulo</h1>
        </div>

        <p><strong>"Rótulo"</strong> abaixo é o que aparece para os clientes na maior parte do site.</p>

        <EditForm Model="@productSizeLabelFormModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="display--row--above-breakpoint">
                <div class="form-group">
                    <label for="title">
                        Título:
                    </label>

                    <InputText name="title"
                               id="title"
                               autocomplete="on"
                               placeholder="Pequeno"
                               @bind-Value="productSizeLabelFormModel.Title"
                               disabled="@isSubmitting" />
                    <ValidationMessage For="@(() => productSizeLabelFormModel.Title)" />
                </div>

                <div class="form-group">
                    <label for="label">
                        Rótulo:
                    </label>

                    <InputText name="label"
                               id="label"
                               autocomplete="on"
                               placeholder="P"
                               @bind-Value="productSizeLabelFormModel.Label"
                               disabled="@isSubmitting" />
                    <ValidationMessage For="@(() => productSizeLabelFormModel.Label)" />
                </div>
            </div>

            <div class="form_buttons">
                @if (!isUpdating)
                {
                    <button type="submit" disabled="@isSubmitting">Adicionar rótulo</button>
                }
                else
                {
                    <button type="submit" disabled="@isSubmitting">Atualizar</button>
                    <button type="reset" disabled="@isSubmitting" @onclick="ResetForm">Cancelar</button>
                }
            </div>
        </EditForm>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            @createSizeLabelApiHandler.GetErrorFeedbackComponent(errorMessage)
        }
    </section>

    <section>
        <div class="one">
            <h1>
                Rótulos cadastrados
                @* <span>Clique e arraste para reordenar a prioridade dos rótulos:</span>
                <span><strong>quanto menor o número, antes eles aparecem para os clientes</strong>.</span> *@
            </h1>
        </div>

        <p>Prioridade é a ordem como os rótulos aparecem para os clientes: <strong>quanto menor o número, antes eles aparecem</strong>.</p>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Rótulo</th>
                        <th>Título</th>
                        <th>Prioridade <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropDown" /></th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    @if (!ProductStateService.SizeLabelsDict.Any())
                    {
                        <span>Não há rótulos cadastrados.</span>
                    }
                    else
                    {
                        @foreach (var sizeLabel in productSizeLabelDtos)
                        {
                            <tr class="table__item"
                                draggable="@(!deletingSizeLabels.Any() ? "true" : "false")"
                                @ondragstart="@(() => HandleReorderStart(sizeLabel.Id))"
                                @ondragover="@((e) => HandleReorderOver(e, sizeLabel.Id))"
                                @ondrop="@(() => HandleReorderEnd(sizeLabel.Id))">
                                <td>@sizeLabel.Label</td>
                                <td>@sizeLabel.Title</td>
                                <td>@sizeLabel.Priority</td>
                                <td>
                                    <Svg ClassName="table__actions" Path="@Svg.Paths.Edit" Width="30" Height="30" OnClick="@(() => SetUpdating(sizeLabel.Id))" />
                                    <Svg ClassName="table__actions" Path="@Svg.Paths.Delete" Width="30" Height="30" OnClick="@(() => DeleteSizeLabel(sizeLabel.Id))" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if (ProductStateService.SizeLabelsDict.Any())
        {
            <button disabled="@(!orderingChanged)" @onclick="UpdateSizeLabelsOrdering">
                Salvar alterações
            </button>
        }
    </section>
</CenterContent>

@code {
    private List<ProductSizeLabelDto> productSizeLabelDtos = new();
    private List<UpdateProductSizeLabelOrderingDto> updatedProductSizeLabelOrderingDtos = new();
    private ProductSizeLabelFormModel productSizeLabelFormModel = new();
    private string? errorMessage;
    private int? draggedSizeLabelId = null; // Stores the ID of the dragged item
    private bool isSubmitting { get; set; } = false;
    private bool isUpdating { get; set; } = false;
    private bool orderingChanged = false;
    private HashSet<int> deletingSizeLabels = new();

    private ApiStateHandler<object> createSizeLabelApiHandler = new();
    private ApiStateHandler<object> updateSizeLabelApiHandler = new();
    private ApiStateHandler<object> deleteSizeLabelApiHandler = new();
    private ApiStateHandler<object> updateSizeLabelOrderingApiHandler = default!;

    private NotificationModel orderingChangedNotification = new NotificationModel
    {
        Content =@<span>Ordem dos rótulos modificada! Não esqueça de salvar as alterações.</span>  ,
        Sticky = true,
        Type = NotificationType.Warning
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        productSizeLabelDtos = ProductStateService.SizeLabelsListOrderedByPriority;
        ProductStateService.SizeLabelsChanged += StateHasChanged;

        updateSizeLabelOrderingApiHandler = new(ProductSizeLabelService.UpdateOrderingFunc(updatedProductSizeLabelOrderingDtos));
    }

    public void Dispose()
    {
        ProductStateService.SizeLabelsChanged -= StateHasChanged;
    }

    private async Task HandleValidSubmit()
    {
        isSubmitting = true;
        errorMessage = null;

        if(!isUpdating){

            // creating new size label
            var newProductSizeLabelDto = new NewProductSizeLabelDto
                {
                    Title = productSizeLabelFormModel.Title,
                    Label = productSizeLabelFormModel.Label,
                };

            await createSizeLabelApiHandler.ExecuteAsync(ProductSizeLabelService.CreateProductSizeLabelFunc(newProductSizeLabelDto));
        } else {
            // updating size label
            var updateProductSizeLabelDto = new UpdateProductSizeLabelDto
            {
                Id = productSizeLabelFormModel.Id,
                Title = productSizeLabelFormModel.Title,
                Label = productSizeLabelFormModel.Label,
            };

            await updateSizeLabelApiHandler.ExecuteAsync(ProductSizeLabelService.UpdateProductSizeLabelFunc(updateProductSizeLabelDto));
        }

        if (!isUpdating ? createSizeLabelApiHandler.IsSuccess() : updateSizeLabelApiHandler.IsSuccess())
        {
            // Reset form fields
            ResetForm();

            // Re-fetch categories to update the list
            await ProductStateService.RefetchSizeLabels();
            NotificationService.DisplaySuccess("Rótulo atualizado com sucesso!");
        }
        else
        {
            // ERROR
            errorMessage = !isUpdating ? createSizeLabelApiHandler.GetErrorString() : updateSizeLabelApiHandler.GetErrorString();
            NotificationService.Display(
                !isUpdating ? 
                    createSizeLabelApiHandler.GetErrorNotificationModel("Erro ao adicionar rótulo.") : 
                    updateSizeLabelApiHandler.GetErrorNotificationModel("Erro ao atualizar rótulo.")
            );
        }

        isSubmitting = false;
        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        errorMessage = "Por favor corrija os erros abaixo.";
    }

    private void HandleReorderStart(int sizeLabelId)
    {
        if (!deletingSizeLabels.Any())
        {
            draggedSizeLabelId = sizeLabelId;
        }
    }

    private void SetOrderingChanged(bool isChanged)
    {
        if (orderingChanged != isChanged)
        {
            orderingChanged = isChanged;

            if (isChanged)
            {
                NotificationService.Display(orderingChangedNotification);
            }
            else
            {
                NotificationService.RemoveNotification(orderingChangedNotification);
            }
        }
    }

    private void HandleReorderOver(DragEventArgs e, int hoveredSizeLabelId)
    {
        if (draggedSizeLabelId == null || draggedSizeLabelId == hoveredSizeLabelId)
            return;

        var draggedItem = productSizeLabelDtos.FirstOrDefault(im => im.Id == draggedSizeLabelId);
        var hoveredItem = productSizeLabelDtos.FirstOrDefault(im => im.Id == hoveredSizeLabelId);

        if (draggedItem != null && hoveredItem != null)
        {
            int draggedIndex = productSizeLabelDtos.IndexOf(draggedItem);
            int hoveredIndex = productSizeLabelDtos.IndexOf(hoveredItem);

            // Swap positions
            productSizeLabelDtos.RemoveAt(draggedIndex);
            productSizeLabelDtos.Insert(hoveredIndex, draggedItem);

            // Swap priorities
            int tempPriority = draggedItem.Priority;
            draggedItem.Priority = hoveredItem.Priority;
            hoveredItem.Priority = tempPriority;

            // Reorder to reflect changes
            productSizeLabelDtos = productSizeLabelDtos.OrderBy(im => im.Priority).ToList();

            SetOrderingChanged(true);

            StateHasChanged(); // 🔹 Force UI to re-render
        }
    }

    private void HandleReorderEnd(int droppedProductId)
    {
        draggedSizeLabelId = null; // Reset drag state
    }

    private async Task UpdateSizeLabelsOrdering(){
        if(orderingChanged){
            updatedProductSizeLabelOrderingDtos.Clear();

            foreach (var sizeLabel in productSizeLabelDtos)
            {
                updatedProductSizeLabelOrderingDtos.Add(
                    new UpdateProductSizeLabelOrderingDto
                    {
                        Id = sizeLabel.Id,
                        Priority = sizeLabel.Priority   
                    }
                );
            }

            await updateSizeLabelOrderingApiHandler.ExecuteAsync();

            if (updateSizeLabelOrderingApiHandler.IsSuccess())
            {
                orderingChanged = false;
                NotificationService.RemoveNotification(orderingChangedNotification);
                NotificationService.DisplaySuccess("Ordem dos rótulos de tamanho salva com sucesso.");
            } else {
                NotificationService.Display(updateSizeLabelOrderingApiHandler.GetErrorNotificationModel("Erro ao salvar a ordem dos rótulos de tamanho."));
            }
        }
    }

    private void SetUpdating(int sizeLabelId)
    {
        isUpdating = true;
        productSizeLabelFormModel.FromDto(productSizeLabelDtos.FirstOrDefault(p => p.Id == sizeLabelId)!);
        StateHasChanged();
    }

    private void ResetForm(){
        productSizeLabelFormModel = new();
        isUpdating = false;
        StateHasChanged();
    }

    private async Task DeleteSizeLabel(int sizeLabeId)
    {
        await deleteSizeLabelApiHandler.ExecuteAsync(ProductSizeLabelService.DeleteProductSizeLabelFunc(sizeLabeId));

        if (deleteSizeLabelApiHandler.IsSuccess())
        {
            await ProductStateService.RefetchSizeLabels();

            NotificationService.DisplaySuccess(
                "Ordem dos rótulos de tamanho salva com sucesso.",
                deleteSizeLabelApiHandler.ServerMessage
            );
        }
        else
        {
            NotificationService.Display(deleteSizeLabelApiHandler.GetErrorNotificationModel("Erro ao salvar a remover rótulo de tamanho."));
        }
    }
}