@page "/manage/categorias"
@layout ManageLayout

@using System.ComponentModel.DataAnnotations;
@using System.Linq.Expressions
@using frontend.Components.Shared.UI.Forms
@using frontend.Components.Shared.UI.SVG
@using frontend.Components.Shared.UI.SmartComponent
@using frontend.DTOs
@using frontend.DTOs.Contracts
@using frontend.Models.Manage.Forms
@using frontend.Services
@using frontend.Services.API

@inject AppStateService AppState
@inject NotificationService NotificationService
@inject ProductStateService ProductStateService
@inject ProductCategoryService ProductCategoryService

<PageTitle>Categorias (Gerenciamento)</PageTitle>

<CenterContent MinWidth="200px">
    <p>Gerencie as categorias de produtos (Mochilas, pastas, etc).</p>

    <section>
        <div class="one">
            <h1>@(isUpdating ? "Editando" : "Adicionando") categoria</h1>
        </div>

        <p><strong>"Referência"</strong> abaixo compõe a referência do produto. <i>Exemplo: MO-001</i></p>

        <EditForm Model="@productCategoryFormModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
            <DataAnnotationsValidator />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="error-message">@errorMessage</div>
            }
            <ValidationSummary />

            <div class="form-group">
                <label for="title">
                    Título:
                </label>

                <InputText name="title"
                           id="title"
                           autocomplete="on"
                           placeholder="Mochila"
                           @bind-Value="productCategoryFormModel.Title"
                           disabled="@isSubmitting" />
                <ValidationMessage For="@(() => productCategoryFormModel.Title)" />
            </div>

            <div class="display--row--above-breakpoint">
                <div class="form-group">
                    <label for="reference">
                        Referência:
                    </label>

                    <InputText name="reference"
                                id="reference"
                                autocomplete="on"
                                placeholder="MO"
                                @bind-Value="productCategoryFormModel.Reference"
                                disabled="@isSubmitting" />
                    <ValidationMessage For="@(() => productCategoryFormModel.Reference)" />
                </div>

                <div class="form-group">
                    <Checkbox Id="isActive"
                              BindValue="@productCategoryFormModel.IsActive"
                              BindValueChanged="@((checkedVal) => productCategoryFormModel.IsActive = checkedVal)"
                                Disabled="@isSubmitting"
                                Label="Ativo" />

                    <ValidationMessage For="@(() => productCategoryFormModel.IsActive)" />
                </div>
            </div>

            <div class="form__buttons">
                @if (!isUpdating)
                {
                    <button type="submit" disabled="@isSubmitting">Adicionar categoria</button>
                }
                else
                {
                    <button type="submit" disabled="@isSubmitting">Atualizar</button>
                    <button type="reset" disabled="@isSubmitting" @onclick="ResetForm">Cancelar</button>
                }
            </div>
        </EditForm>
    </section>

    <section>
        <div class="one">
            <h1>Categorias cadastradas</h1>
        </div>


        @if (ProductStateService.CategoriesListOrderedByTitle.Count == 0)
        {
            <span>Não há categorias cadastradas.</span>
        }
        else
        {
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Ativo</th>

                            <th>
                                Título 
                                <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropDown" />
                            </th>

                            <th>Referência</th>
                            <th>Produtos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (ProductCategoryDto category in ProductStateService.CategoriesListOrderedByTitle)
                        {
                            <tr ClassName="table__item">
                                <td>
                                    @if (category.IsActive)
                                    {
                                        <Svg ClassName="table__actions" Path="@Svg.Paths.VisibilityOn" Width="30" Height="30" />
                                    }
                                    else
                                    {
                                        <Svg ClassName="table__actions" Path="@Svg.Paths.VisibilityOff" Width="30" Height="30" />
                                    }
                                </td>
                                <td>@category.Title</td>
                                <td>@category.Reference</td>
                                <td>@(ProductStateService.ProductsApiHandler.Content?.Count(p => p.CategoryId == category.Id) ?? 0)</td>
                                <td>
                                    <Svg ClassName="table__actions" Path="@Svg.Paths.Edit" Width="30" Height="30" OnClick="@(() => SetUpdating(category.Id))" />
                                    <Svg ClassName="table__actions" Path="@Svg.Paths.Delete" Width="30" Height="30" OnClick="@(() => DeleteCategory(category.Id))" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </section>
</CenterContent>

@code {
    // private List<ProductCategoryDto> productCategories = new();
    private ProductCategoryFormModel productCategoryFormModel = new();
    private string? errorMessage;
    private bool isUpdating { get; set; } = false;
    private bool isSubmitting { get; set; } = false;
    private bool isDescending = false;
    // private ProductCategoryDto.SortBy.SortField currentSortField = ProductCategoryDto.SortBy.Title;

    private ApiStateHandler<object> createCategoryApiHandler = new();
    private ApiStateHandler<object> updateCategoryApiHandler = new();
    private ApiStateHandler<object> deleteCategoryApiHandler = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ProductStateService.CategoriesChanged += StateHasChanged;
        // productCategories = ProductStateService.CategoriesDict.Values.ToList();
    }

    public void Dispose()
    {
        ProductStateService.CategoriesChanged -= StateHasChanged;
    }

    private async Task HandleValidSubmit()
    {
        isSubmitting = true;
        errorMessage = null;

        if (!isUpdating)
        {
            // creating new category
            var newProductCategoryDto = new NewProductCategoryDto
                {
                    Title = productCategoryFormModel.Title,
                    Reference = productCategoryFormModel.Reference,
                    IsActive = productCategoryFormModel.IsActive,
                };

            await createCategoryApiHandler.ExecuteAsync(ProductCategoryService.CreateProductCategoryFunc(newProductCategoryDto));
        } else {
            // updating category
            var updateProductCategoryDto = new UpdateProductCategoryDto
                {
                    Id = productCategoryFormModel.Id,
                    Title = productCategoryFormModel.Title,
                    Reference = productCategoryFormModel.Reference,
                    IsActive = productCategoryFormModel.IsActive,
                };

            await updateCategoryApiHandler.ExecuteAsync(ProductCategoryService.UpdateProductCategoryFunc(updateProductCategoryDto));
        }

        if (!isUpdating ? createCategoryApiHandler.IsSuccess() : updateCategoryApiHandler.IsSuccess())
        {
            // Reset form fields
            ResetForm();

            // Re-fetch categories to update the list
            await ProductStateService.RefetchCategories();
            NotificationService.DisplaySuccess("Categoria atualizada com sucesso!");
        }
        else
        {
            // ERROR
            errorMessage = !isUpdating ? createCategoryApiHandler.GetErrorString() : updateCategoryApiHandler.GetErrorString();
            NotificationService.Display(
                !isUpdating ?
                    createCategoryApiHandler.GetErrorNotificationModel("Erro ao adicionar rótulo.") :
                    updateCategoryApiHandler.GetErrorNotificationModel("Erro ao atualizar rótulo.")
            );
        }

        isSubmitting = false;
        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        errorMessage = "Por favor corrija os erros abaixo.";
    }

    private void SetUpdating(int categoryId)
    {
        isUpdating = true;
        productCategoryFormModel.FromDto(ProductStateService.CategoriesListOrderedByTitle.FirstOrDefault(c => c.Id == categoryId)!);
        StateHasChanged();
    }

    private void ResetForm()
    {
        productCategoryFormModel = new();
        isUpdating = false;
        StateHasChanged();
    }

    private async Task DeleteCategory(int categoryId)
    {
        await deleteCategoryApiHandler.ExecuteAsync(ProductCategoryService.DeleteProductCategoryByIdFunc(categoryId));

        if (deleteCategoryApiHandler.IsSuccess())
        {
            // Remove item manually
            ProductStateService.CategoriesListOrderedByTitle.RemoveAll(c => c.Id == categoryId);

            StateHasChanged(); // Re-render UI
        }
        else
        {
            errorMessage = "Erro ao deletar categoria.";
            NotificationService.Display(deleteCategoryApiHandler.GetErrorNotificationModel(errorMessage));
        }
    }
}