@page "/manage/categorias"
@layout ManageLayout

@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations;
@using frontend.DTOs
@using frontend.DTOs.Contracts
@using frontend.Services
@using frontend.Services.API
@using frontend.Components.Shared.UI.SmartComponent
@using frontend.Components.Shared.UI.SVG

@inject AppStateService AppState
@inject NotificationService NotificationService
@inject ProductStateService ProductStateService
@inject ProductCategoryService ProductCategoryService

<PageTitle>Categorias (Gerenciamento)</PageTitle>

<h2>Adicionar nova categoria de produto</h2>

<EditForm Model="@productCategoryFormModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error-message">@errorMessage</div>
    }
    <ValidationSummary />

    <div>
        <label for="title">
            Título:
        </label>

        <InputText name="title"
        id="title"
        autocomplete="on"
        placeholder="Mochila"
        @bind-Value="productCategoryFormModel.Title"
        disabled="@IsSubmitting" />
        <ValidationMessage For="@(() => productCategoryFormModel.Title)" />
    </div>

    <div>
        <label for="reference">
            Referência:
        </label>

        <InputText name="reference"
        id="reference"
        autocomplete="on"
        placeholder="MO"
        @bind-Value="productCategoryFormModel.Reference"
        disabled="@IsSubmitting" />
        <ValidationMessage For="@(() => productCategoryFormModel.Reference)" />
    </div>

    <div>
        <label for="isActive">
            Ativo:
        </label>

        <InputCheckbox id="isActive"
        @bind-Value="productCategoryFormModel.IsActive"
        disabled="@IsSubmitting" />
        <ValidationMessage For="@(() => productCategoryFormModel.IsActive)" />
    </div>

    <div>
        <button type="submit" disabled="@IsSubmitting">Adicionar categoria</button>
    </div>
</EditForm>

<List>
    <HeaderContent>
        <h2>Categorias</h2>
    </HeaderContent>

    <BodyContent>
        @if (productCategories.Count == 0)
        {
            <span>Não há categorias cadastradas.</span>
        }
        else
        {
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th OnClick="@(() => SortCategoriesBy(ProductCategoryDto.SortBy.IsActive))">
                                Ativo
                                @if (currentSortField.Equals(ProductCategoryDto.SortBy.IsActive))
                                {
                                    @if (isDescending)
                                    {
                                        <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropUp" />
                                    }
                                    else
                                    {
                                        <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropDown" />
                                    }
                                }
                            </th>
                            <th OnClick="@(() => SortCategoriesBy(ProductCategoryDto.SortBy.Title))">
                                Nome
                                @if (currentSortField.Equals(ProductCategoryDto.SortBy.Title))
                                {
                                    @if (isDescending)
                                    {
                                        <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropUp" />
                                    }
                                    else
                                    {
                                        <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropDown" />
                                    }
                                }
                            </th>

                            <th OnClick="@(() => SortCategoriesBy(ProductCategoryDto.SortBy.Reference))">
                                Referência
                                @if (currentSortField.Equals(ProductCategoryDto.SortBy.Reference))
                                {
                                    @if (isDescending)
                                    {
                                        <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropUp" />
                                    }
                                    else
                                    {
                                        <Svg Width="15" Height="15" ClassName="table__sorting-arrow" Path="@Svg.Paths.ArrowDropDown" />
                                    }
                                }
                            </th>

                            <th>Produtos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (ProductCategoryDto category in productCategories)
                        {
                            <tr ClassName="table__item">
                                <td>
                                    @if (category.IsActive)
                                    {
                                        <Svg ClassName="table__actions" Path="@Svg.Paths.VisibilityOn" Width="30" Height="30" />
                                    }
                                    else
                                    {
                                        <Svg ClassName="table__actions" Path="@Svg.Paths.VisibilityOff" Width="30" Height="30" />
                                    }
                                </td>
                                <td>@category.Title</td>
                                <td>@category.Reference</td>
                                <td>0</td>
                                <td>
                                    <Svg ClassName="table__actions" Path="@Svg.Paths.Edit" Width="30" Height="30" />
                                    <Svg ClassName="table__actions" Path="@Svg.Paths.Delete" Width="30" Height="30" OnClick="@(() => DeleteCategory(category.Id))" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </BodyContent>
</List>

@code {
    private List<ProductCategoryDto> productCategories = new();
    private ProductCategoryFormModel productCategoryFormModel = new();
    private string? errorMessage;
    private bool IsSubmitting { get; set; } = false;
    private bool isDescending = false;
    private ProductCategoryDto.SortBy.SortField currentSortField = ProductCategoryDto.SortBy.Title;

    private ApiStateHandler<object> createCategoryApiHandler = new();
    private ApiStateHandler<object> deleteCategoryApiHandler = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ProductStateService.CategoriesChanged += StateHasChanged;
        productCategories = ProductStateService.CategoriesDict.Values.ToList();
    }

    public void Dispose()
    {
        ProductStateService.CategoriesChanged -= StateHasChanged;
    }

    private async Task HandleValidSubmit()
    {
        IsSubmitting = true;
        errorMessage = null;

        var newProductCategoryDto = new NewProductCategoryDto
        {
                Title = productCategoryFormModel.Title,
                Reference = productCategoryFormModel.Reference,
                IsActive = productCategoryFormModel.IsActive,
        };

        await createCategoryApiHandler.ExecuteAsync(ProductCategoryService.CreateProductCategoryFunc(newProductCategoryDto));

        if (createCategoryApiHandler.IsSuccess())
        {
            // Reset form fields
            productCategoryFormModel = new();

            // Re-fetch categories to update the list
            await ProductStateService.CategoriesApiHandler.ExecuteAsync();
        } else {
            errorMessage = "Erro ao criar categoria.";
            NotificationService.Display(createCategoryApiHandler.GetErrorNotificationModel(errorMessage));
        }

        IsSubmitting = false;
    }

    private void HandleInvalidSubmit()
    {
        errorMessage = "Por favor corrija os erros abaixo.";
    }

    private void SortCategoriesBy(ProductCategoryDto.SortBy.SortField sortField)
    {
        if (currentSortField.ColumnName == sortField.ColumnName)
        {
            isDescending = !isDescending; // Toggle order if clicking the same column
        }
        else
        {
            currentSortField = sortField;
            isDescending = false; // Default to ascending when switching columns
        }

        productCategories = isDescending
            ? productCategories.OrderByDescending(sortField.Selector).ToList()
            : productCategories.OrderBy(sortField.Selector).ToList();

        StateHasChanged();
    }

    private async Task DeleteCategory(int categoryId)
    {
        await deleteCategoryApiHandler.ExecuteAsync(ProductCategoryService.DeleteProductCategoryByIdFunc(categoryId));

        if (deleteCategoryApiHandler.IsSuccess())
        {
            // Remove item manually
            productCategories = productCategories.Where(c => c.Id != categoryId).ToList();

            StateHasChanged(); // Re-render UI
        }
        else
        {
            errorMessage = "Erro ao deletar categoria.";
            NotificationService.Display(deleteCategoryApiHandler.GetErrorNotificationModel(errorMessage));
        }
    }
}