@inherits SmartComponentBase

@using frontend.Services
@using frontend.Components.Shared.UI.SVG
@using frontend.Services.Interop

@inject IJSRuntime JSRuntime

<div class="dropdown @ClassName">
    <button class="dropdown__button @HeaderClassName" @onclick="Open">
        @HeaderContent

        @if (!HideArrow)
        {
            <Svg ClassName="svg--rotate" Path="@Svg.Paths.ArrowDropDown" Width="15" Height="15" />
        }
    </button>

    <div class="dropdown__content @(AppState.IsMobile ? "fullscreen-overlay" : "") @(IsOpen ? "dropdown__content--visible" : "")"
        style="@DynamicStyle"
        @ref="DropdownRef">

        <button class="overlay__button overlay__button--close" @onclick="Close"
        @onclick:stopPropagation>
            <Svg Path="@Svg.Paths.Close" Width="20" Height="20" />
        </button>

        <div class="dropdown__content-wrapper"
        @onclick:stopPropagation>
            @if (AppState.IsMobile) {
                <div class="dropdown__content-title">@BodyMobileContentTitle</div>
            }
            @BodyContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? ClassName { get; set; }

    [Parameter]
    public string? HeaderClassName { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment? HeaderContent { get; set; } // Holds the first child

    [Parameter]
    public RenderFragment? BodyMobileContentTitle { get; set; }

    [Parameter]
    public RenderFragment? BodyContent { get; set; } // Holds the remaining children

    [Parameter]
    public bool HideArrow { get; set; } = false;

    private string? DynamicStyle { get; set; }
    private ElementReference DropdownRef; // Element reference for the dropdown

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppState.WindowResized += UpdateDynamicPosition;
    }

    public override void Dispose()
    {
        base.Dispose();

        AppState.WindowResized -= UpdateDynamicPosition;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateDynamicPosition();
        }
    }

    private async Task UpdateDynamicPosition()
    {
        if (!AppState.IsMobile || DropdownRef.Id == default)
        {
            return;
        }
        DOMRect elementBoundingRect = await JSRuntime.InvokeAsync<DOMRect>("getBoundingClientRect", DropdownRef);

        if (elementBoundingRect == null)
        {
            return;
        }

        if (elementBoundingRect.Right >= AppState.BrowserWidth)
        {
            DynamicStyle = $"right: 0; left: auto;";
            StateHasChanged();
        }
    }
}