 @inherits SmartComponentBase

@using frontend.Services

<div class="slider" title="@Title">
    @* Button to open content *@
    <button class="slider__button @HeaderClassName" @onclick="Open">
        @HeaderContent
    </button>

    @* Content when open *@
    @* <div class="slider__content fullscreen-overlay slider__content--@Direction @(IsOpen ? "slider__content--visible" : "")">
        <div class="slider__content-wrapper @(IsFullscreen ? "" : $"slider__content-wrapper--{Direction}")" @onclick:stopPropagation>
            <button class="overlay__button overlay__button--close" @onclick="Close" @onclick:stopPropagation>
                <Svg Path="@Svg.Paths.Close" Width="20" Height="20" />
            </button>

            @BodyMobileContentTitle
            @BodyContent
        </div>
    </div> *@

    <div class="@ContentClassName" @attributes="GetConditionalClickAttributes()">

        <button class="overlay__button--close" @onclick="Close" @onclick:stopPropagation>
            <Svg Path="@Svg.Paths.Close" Width="20" Height="20" />
        </button>

        <div class="@WrapperClassName" @onclick:stopPropagation>
            @* <button class="@(IsFullscreen ? "overlay__button" : "") overlay__button--close" @onclick="Close" @onclick:stopPropagation>
                <Svg Path="@Svg.Paths.Close" Width="20" Height="20" />
            </button> *@

            @BodyMobileContentTitle
            @BodyContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? HeaderContent { get; set; } // Holds the first child
    [Parameter] public string? HeaderClassName { get; set; }
    [Parameter] public RenderFragment? BodyMobileContentTitle { get; set; }
    [Parameter] public RenderFragment? BodyContent { get; set; } // Holds the remaining children
    [Parameter] public bool IsFullscreen { get; set; } = true;
    [Parameter] public string? Title { get; set; }
    [Parameter] public SlideFromDirection Direction { get; set; } = SlideFromDirection.left;
    [Parameter] public HorizontalContentAlignment HorizontalAlignment { get; set; } = HorizontalContentAlignment.center;
    [Parameter] public VerticalContentAlignment VerticalAlignment { get; set; } = VerticalContentAlignment.top;

    [Parameter] public Action<Action>? SubscribeTo { get; set; }
    [Parameter] public Action<Action>? UnsubscribeFrom { get; set; }

    public enum SlideFromDirection
    {
        left,
        right,
        @* top,
        bottom *@
    }

    public enum HorizontalContentAlignment
    {
        left,
        center,
        right,
    }

    public enum VerticalContentAlignment
    {
        top,
        center,
        bottom,
    }

    private string ContentClassName = "";
    private string WrapperClassName = "";

    protected override void OnInitialized()
    {
        IsOpenChanged += UpdateContentClassName;

        SubscribeTo?.Invoke(NotifyChanged);

        UpdateContentClassName();
        UpdateWrappperClassName();

        base.OnInitialized();
    }

    public override void Dispose()
    {
        IsOpenChanged -= UpdateContentClassName;

        UnsubscribeFrom?.Invoke(NotifyChanged);

        // Call base class Dispose
        base.Dispose();
    }

    private void UpdateContentClassName()
    {
        ContentClassName = $"slider__content slider__content--from-{@Direction} ";
        ContentClassName += IsFullscreen ? "fullscreen-overlay slider__content--docked-center" : $"fullscreen-overlay--transparent slider__content--docked-{@Direction}";

        if (IsOpen)
        {
            ContentClassName += " slider__content--visible";
        }

        StateHasChanged();
    }

    private void UpdateWrappperClassName()
    {
        WrapperClassName = $"slider__content-wrapper";

        if (IsFullscreen)
        {
            switch (HorizontalAlignment)
            {
                case HorizontalContentAlignment.left:
                    WrapperClassName += " slider__content-wrapper--horizontal--left";
                    break;

                case HorizontalContentAlignment.right:
                    WrapperClassName += " slider__content-wrapper--horizontal--right";
                    break;

                default: // ContentAlignment.center
                    WrapperClassName += " slider__content-wrapper--horizontal--center";
                    break;
            }

            switch (VerticalAlignment)
            {
                case VerticalContentAlignment.top:
                    WrapperClassName += " slider__content-wrapper--vertical--top";
                    break;

                case VerticalContentAlignment.bottom:
                    WrapperClassName += " slider__content-wrapper--vertical--bottom";
                    break;

                default: // ContentAlignment.center
                    WrapperClassName += " slider__content-wrapper--vertical--center";
                    break;
            }
        } 
        else
        {
            WrapperClassName += " slider__content-wrapper--docked";
        }

        StateHasChanged();
    }

    private Dictionary<string, object> GetConditionalClickAttributes()
    {
        if (!IsFullscreen)
        {
            return new Dictionary<string, object>
        {
            { "onclick", EventCallback.Factory.Create(this, Close) },
            { "onclick:stopPropagation", true }
        };
        }

        return new Dictionary<string, object>(); // No handler if fullscreen
    }

    private void NotifyChanged() => InvokeAsync(StateHasChanged);


    @* private string GetBodyClassName()
    {
        var baseClass = $"slider__content slider__content--{Direction}";

        if (IsOpen)
        {
            baseClass += " slider__content--visible";
        }

        return baseClass;
    } *@
}