@inherits LayoutComponentBase

@using frontend.Services
@using frontend.Components.Shared
@using frontend.Components.Shared.UI.SmartComponent
@using frontend.Components.Shared.UI.SVG

@inject AppStateService AppState

<HeadContent>
	<link rel="stylesheet" href="css/main.css" />
</HeadContent>

<Header>
	<NavResponsiveMenuOptions>
		@if (AppState.IsMobile)
		{ 
			<List>
				<HeaderContent>
					<button class="nav__button" @onclick="@(() => Navigation.NavigateTo("produto"))">Produtos</button>
				</HeaderContent>

				<BodyContent>
					<li>Produtos</li>
				</BodyContent>
			</List>
		}
		else
		{
			<Dropdown ClassName=""
				HeaderClassName="nav__button"
				OnClick="@(() => Navigation.NavigateTo("produto"))"
			>
				<HeaderContent>
					<span>Produtos</span>
				</HeaderContent>

				<BodyContent>
					<li class="nav--highlight">Produtos</li>
					<li>Teste 1</li>
					<li>Teste 2</li>
					<li>Teste 3</li>
					<li>Testando</li>
				</BodyContent>
			</Dropdown>
		}
		<div>
			<NavLink href="/contato" class="nav__button">
				Contato
			</NavLink>
		</div>
	</NavResponsiveMenuOptions>

	<NavPermanentButtons>
		<Dropdown 
			ClassName=""
			HeaderClassName="nav__button"
			HideArrow="true"
		>
			<HeaderContent>
				<Svg Path="@Svg.Paths.Search" Width="30" Height="30" />
			</HeaderContent>

			<BodyMobileContentTitle>
				<div>Digite seu termo de busca:</div>
			</BodyMobileContentTitle>

			<BodyContent>
				<input type='text' />
			</BodyContent>
		</Dropdown>

		<Slider 
			Direction="Slider.SlideFromDirection.right"
			HeaderClassName="nav__button"
		>
			<HeaderContent>
				<Svg Path="@Svg.Paths.RemoveShoppingCart" Width="35" Height="35" />
			</HeaderContent>

			<BodyMobileContentTitle>
				<div>Carrinho de orçamento</div>
			</BodyMobileContentTitle>

			<BodyContent>
				<div>lista</div>
			</BodyContent>
		</Slider>
	</NavPermanentButtons>
</Header>

<main class='website__main'>
	<div class='website__main-wrapper'>
		@Body
	</div>
</main>

<footer>
	<section class="footer__links">
		<div class="footer-links__aboutus">
			<h1>Institucional</h1>

			<div class="footer-content__wrapper">
				<a href="#">Quem somos</a>
				<a href="#">Responsabilidade social</a>
				<a href="#">Política de privacidade</a>
			</div>
		</div>

		<div class="footer-links__contact">
            <h1>Contato</h1>

			<div class="footer-content__wrapper">
				<a href="https://wa.link/q5awe0" target="_blank" class="footer-contact__phone">
					<Svg Path="@Svg.Paths.WhatsApp" Width="16" Height="16" />
					<div>
						(49) 9-9135-7628
					</div>
				</a>

				<div class="footer-contact__phone">
					<Svg Path="@Svg.Paths.PhoneInTalk" Width="16" Height="16" />
					<div>
						<span>(49) 3442-1550</span>
						<span>(49) 3030-0300</span>
					</div>
				</div>

				<div class="footer-contact__phone">
					<Svg Path="@Svg.Paths.Fax" Width="16" Height="16" />
					<div>
						(49) 3442 1550 Ramal 07
					</div>
				</div>

				<a href="#">Outras formas</a>
			</div>
		</div>

		<div class="footer-links__socials">
			<h1>Redes Sociais</h1>

			<div class="footer-content__wrapper">
				<a href="#" target="_blank">
					<Svg Path="@Svg.Paths.Instagram" Width="30" Height="30" />
				</a>

				<a href="#" target="_blank">
					<Svg Path="@Svg.Paths.Facebook" Width="30" Height="30" />
				</a>
			</div>
		</div>
	</section>

	<section class="footer__copyright">
		<div>
			CDC Indústria e Comércio de Bolsas Eireli EPP | CNPJ 04.553.782/0001-47 | IE 254.276.679
		</div>

		<div>
			<a href="https://maps.app.goo.gl/vd8xbJcHdaikzhyv5" target="_blank">
				<Svg Path="@Svg.Paths.Location" Width="12" Height="12" /> Rua Victor Sopelsa, n° 299, Bairro Parque de Exposições - Concórdia/SC - CEP 89711-330
			</a>
		</div>

		<div>
			Copyright ©@DateTime.Now.Year Todos os direitos reservados - por Michel Arendt
		</div>
	</section>
</footer>

@code {
	[Inject]
	private NavigationManager Navigation { get; set; } = default!;

	protected override void OnInitialized() {
		// Subscribe to IsMobileChanged
		@* AppState.IsMobileChanged += HandleIsMobileChanged; *@
	}

	private void HandleIsMobileChanged()
	{
		@* InvokeAsync(StateHasChanged); // Trigger re-render *@
	}

	public void Dispose()
	{
		// Unsubscribe to avoid memory leaks
		@* AppState.IsMobileChanged -= HandleIsMobileChanged; *@
	}
}