@inherits LayoutComponentBase

@using frontend.Handlers
@using frontend.Services
@using frontend.Services.API
@using frontend.Components.Shared
@using frontend.Components.Shared.UI
@using frontend.Components.Shared.UI.SmartComponent
@using frontend.Components.Shared.UI.SVG
@using frontend.DTOs

@inject AppStateService AppState
@inject NavigationManager Navigation
@inject NotificationService NotificationService
@inject ProductStateService ProductStateService
@inject ProductCategoryService ProductCategoryService
@inject UserService UserService
<PageTitle>Gerenciamento - Cia da Capa</PageTitle>

<HeadContent>
    <link rel="stylesheet" href="css/manage/manage.css" />
</HeadContent>

<Header>
    <NavResponsiveMenuOptions>
        @if (AppState.IsMobile)
        {
            <List>
                <HeaderContent>
                    <button class="nav__button nav--interactive"
                    @onclick="@(() => Navigation.NavigateTo("manage/produtos"))">
                        Produtos
                    </button>
                </HeaderContent>
                <BodyContent>
                    @if (!ProductStateService.CategoriesDict.Any())
                    {
                        <li>Não há categorias cadastradas!</li>
                    }
                    else
                    {
                        @foreach (var (index, category) in ProductStateService.CategoriesDict)
                        {
                            <li>@category.Title</li>
                        }
                    }
                </BodyContent>
            </List>
        }
        else
        {
            <Dropdown ClassName="nav--interactive"
            HeaderClassName="nav__button nav--interactive"
            OnClick="@(() => Navigation.NavigateTo("manage/produtos"))">
                <HeaderContent>
                    <span>Produtos</span>
                </HeaderContent>
                <BodyContent>
                    <li>
                        <NavLink href="manage/produtos/adicionar">
                            Adicionar produto
                        </NavLink>
                    </li>

                    @if (!ProductStateService.CategoriesDict.Any())
                    {
                        <li>Não há categorias cadastradas!</li>
                    }
                    else
                    {
                        @foreach (var (index, category) in ProductStateService.CategoriesDict)
                        {
                            <li>@category.Title</li>
                        }
                    }
                </BodyContent>
            </Dropdown>
        }
        <div>
            <NavLink href="manage/banners" class="nav__button nav--interactive">
                Banners
            </NavLink>
        </div>
        <div>
            <NavLink href="manage/categorias" class="nav__button nav--interactive">
                Categorias
            </NavLink>
        </div>
        <div>
            <NavLink href="manage/rotulos" class="nav__button nav--interactive">
                Rótulos
            </NavLink>
        </div>
    </NavResponsiveMenuOptions>

    <NavPermanentButtons>
        <Dropdown ClassName="nav--interactive"
        HeaderClassName="nav__button nav--interactive"
        HideArrow="true">
            <HeaderContent>
                <Svg Path="@Svg.Paths.Search" Width="30" Height="30" />
            </HeaderContent>

            <BodyMobileContentTitle>
                <div>Digite seu termo de busca:</div>
            </BodyMobileContentTitle>

            <BodyContent>
                <input type='text' />
            </BodyContent>
        </Dropdown>

        <button class="nav__button nav--interactive"
        @onclick="@UserLogout"
        alt="Logout">
            <Svg Path="@Svg.Paths.Logout" Width="30" Height="30" />
        </button>
    </NavPermanentButtons>
</Header>

<main class='website__main'>
    <div class='website__main-wrapper'>
        @Body
    </div>
</main>

@code {
    private ApiStateHandler<object> logoutApiHandler = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppState.IsManageRoute = true;
    }

    public void Dispose()
    {
    }

    private async Task UserLogout()
    {
        if (AppState.IsAuthenticated)
        {
            await logoutApiHandler.ExecuteAsync();

            if (logoutApiHandler.IsSuccess())
            {
                AppState.IsAuthenticated = false;
                Navigation.NavigateTo("manage/login");
            } else {
                NotificationService.Display(logoutApiHandler.GetErrorNotificationModel("Erro ao tentar deslogar."));
            }
        }
    }
}

