@using frontend.Helpers
@using frontend.Models.Http
@inject NavigationManager Navigation

@inject AppStateService AppStateService
@inject NotificationService NotificationService
@inject ProductStateService ProductStateService
@inject ProductSizeService ProductSizeService

<div class="twelve">
    <h1>@(SizeId == null ? "Adicionar" : "Atualizar")</h1>
</div>

<EditForm Model="@productSizeFormModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="feedback feedback--error" />

    TODO: exclude labels the product already has

    <div class="display--row--above-breakpoint">
        <div class="form-group">
            <label for="size_label_id">Rótulo:</label>
            <InputSelect id="size_label_id" @bind-Value="productSizeFormModel.SizeLabelId" disabled="@isSubmitting">

                <option value="0">-</option>
                @foreach (var sizeLabel in ProductStateService.SizeLabelsListOrderedByPriority.Where(label =>
                   label.Id == productSizeFormModel.SizeLabelId || // allow current selection
                   !ProductDto.Sizes.Any(size => size.SizeLabelId == label.Id) // exclude used
                ))
                {
                    <option value="@sizeLabel.Id">@sizeLabel.Label</option>
                }
            </InputSelect>

            <ValidationMessage For="@(() => productSizeFormModel.SizeLabelId)" />
        </div>

        <div class="form-group">
            <label for="width">Largura (cm):</label>

            <InputNumber id="width" name="width" @bind-Value="productSizeFormModel.Width" placeholder="40" disabled="@isSubmitting" />
            <ValidationMessage For="@(() => productSizeFormModel.Width)" />
        </div>
    </div>


    <div class="display--row--above-breakpoint">
        <div class="form-group">
            <label for="height">Altura (cm):</label>

            <InputNumber id="height" name="height" @bind-Value="productSizeFormModel.Height" placeholder="30" disabled="@isSubmitting" />
            <ValidationMessage For="@(() => productSizeFormModel.Height)" />
        </div>

        <div class="form-group">
            <label for="depth">Profundidade (cm):</label>

            <InputNumber id="depth" name="depth" @bind-Value="productSizeFormModel.Depth" placeholder="1.4" disabled="@isSubmitting" />
            <ValidationMessage For="@(() => productSizeFormModel.Depth)" />
        </div>
    </div>

    <div class="form_buttons">
        @if (SizeId == null)
        {
            <button type="submit" disabled="@isSubmitting">Adicionar tamanho</button>
        }
        else
        {
            <button type="submit" disabled="@isSubmitting">Atualizar tamanho</button>
            <button disabled="@isSubmitting" @onclick="DeleteSize">Remover tamanho</button>
        }
    </div>
</EditForm>

@code {
    [Parameter]
    public required ProductDto ProductDto { get; set; }

    [Parameter]
    public int? SizeId { get; set; }

    // DTOs & Form Models
    private ProductSizeDto? productSizeDto = new();
    private NewProductSizeDto newProductSizeDto = new();
    private UpdateProductSizeDto updateProductSizeDto = new();
    private ProductSizeFormModel productSizeFormModel = new();

    // Form & Feedback
    private const string errorMessage = "Houve um erro neste formulário. Entre em contato com o administrador!";
    private string? validationError;
    private bool isSubmitting { get; set; } = false;
    private bool isUpdating = true;

    // API handlers
    private ApiStateHandler<int?> createProductSizeApiHandler = default!;
    private ApiStateHandler<object> updateProductSizeApiHandler = default!;
    private ApiStateHandler<object> deleteProductVariantApiHandler = default!;
    private ApiStateHandler<List<ProductSizeDto>> fetchProductSizesApiHandler = default!;
    [Inject] HttpClient Http { get; set; } = default!;


    protected override void OnInitialized()
    {
        if (SizeId == null)
        {
            // CREATE NEW VARIANT
            isUpdating = false;

            newProductSizeDto.ProductId = ProductDto.Id;

            // HANDLER - create and fetch
            createProductSizeApiHandler = 
                new(ProductSizeService.CreateProductSizeFunc(newProductSizeDto));
            fetchProductSizesApiHandler = 
                new(ProductSizeService.GetSizesForProductId(ProductDto.Id));
        }
        else
        {
            // UPDATE VARIANT
            // attempt to fetch it from Product's Content
            productSizeDto = ProductDto!.Sizes.Find(s => s.Id == SizeId);

            // Create handlers using DTO's reference
            if (productSizeDto != null)
            {
                // Fill the form's view model
                productSizeFormModel.SizeLabelId = productSizeDto.SizeLabelId;
                productSizeFormModel.Width = productSizeDto.Width;
                productSizeFormModel.Height = productSizeDto.Height;
                productSizeFormModel.Depth = productSizeDto.Depth;

                // HANDLER - update
                updateProductSizeApiHandler = 
                    new(ProductSizeService.UpdateProductSizeFunc(updateProductSizeDto));

                // HANDLER - delete
                deleteProductVariantApiHandler = 
                    new(ProductSizeService.DeleteProductSizeFunc(productSizeDto.Id));
            }
            else
            {
                NotificationService.DisplayError(errorMessage, "ProductSizeForm->OnInitialized");
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        isSubmitting = true;

        if (productSizeDto != null)
        {
            if (productSizeFormModel.Width == null ||
                productSizeFormModel.Height == null ||
                productSizeFormModel.Depth == null ||
                productSizeFormModel.SizeLabelId == null)
            {
                HandleInvalidSubmit();
                return;
            }

            if (isUpdating)
            {
                // UPDATING SIZE
                updateProductSizeDto.Id = productSizeDto.Id;
                updateProductSizeDto.SizeLabelId = (int)productSizeFormModel.SizeLabelId;
                updateProductSizeDto.Width = (int)productSizeFormModel.Width;
                updateProductSizeDto.Height = (int)productSizeFormModel.Height;
                updateProductSizeDto.Depth = (int)productSizeFormModel.Depth;
                Console.WriteLine($"{updateProductSizeDto.Width}, {updateProductSizeDto.Height}, {updateProductSizeDto.Depth}");

                await updateProductSizeApiHandler.ExecuteAsync();

                // Check if update succeeded
                if (updateProductSizeApiHandler.IsSuccess())
                {
                    // Display success
                    NotificationService.DisplaySuccess(updateProductSizeApiHandler.ServerMessage);

                    ProductSizeService?.InvokeProductSizesUpdated();
                }
                else
                {
                    // Error
                    NotificationService.Display(updateProductSizeApiHandler.GetErrorNotificationModel("Erro ao tentar atualizar tamanho do produto!"));
                }
            }
            else
            {
                // CREATING SIZE
                newProductSizeDto.ProductId = ProductDto.Id;
                newProductSizeDto.SizeLabelId = (int)productSizeFormModel.SizeLabelId;
                newProductSizeDto.Width = (int)productSizeFormModel.Width;
                newProductSizeDto.Height = (int)productSizeFormModel.Height;
                newProductSizeDto.Depth = (int)productSizeFormModel.Depth;

                await createProductSizeApiHandler.ExecuteAsync();

                // Check if create succeeded
                if (createProductSizeApiHandler.IsSuccess())
                {
                    // Retch product sizes
                    await fetchProductSizesApiHandler.ExecuteAsync();

                    if (fetchProductSizesApiHandler.IsSuccess() && fetchProductSizesApiHandler.Content != null)
                    {
                        // Replace the product's sizes and trigger event to refresh UI
                        ProductDto.Sizes = fetchProductSizesApiHandler.Content;

                        NotificationService.DisplaySuccess(createProductSizeApiHandler.ServerMessage);
                        ProductSizeService?.InvokeProductSizeAddedOrDeleted();
                    }
                    else
                    {
                        // Error
                        NotificationService.Display(fetchProductSizesApiHandler.GetErrorNotificationModel("O tamanho foi criado, mas houve um erro local na página ao tentar tentar recuperar os tamanhos atualizados do produto. Aperte CTRL + F5!"));
                    }
                }
                else
                {
                    // Error
                    NotificationService.Display(createProductSizeApiHandler.GetErrorNotificationModel("Erro ao tentar criar o tamanho do produto!"));
                }
            }
        }
        else
        {
            NotificationService.DisplayError(errorMessage, "ProductSizeForm->HandleValidSubmit");
        }


        StateHasChanged();
        isSubmitting = false;
    }

    private void HandleInvalidSubmit()
    {
        validationError = "Por favor, corrija os erros acima.";
        NotificationService.DisplayValidationError(validationError);
    }

    private async Task DeleteSize(){
        if (productSizeDto != null)
        {
            isSubmitting = true;

            // DELETE VARIANT
            await deleteProductVariantApiHandler.ExecuteAsync();

            // Check if delete succeeded
            if (deleteProductVariantApiHandler.IsSuccess())
            {
                // Display success and remove variant from list
                ProductDto.Sizes.Remove(productSizeDto);

                NotificationService.DisplaySuccess(deleteProductVariantApiHandler.ServerMessage);
                ProductSizeService?.InvokeProductSizeAddedOrDeleted();
            }
            else
            {
                // Error
                NotificationService.Display(deleteProductVariantApiHandler.GetErrorNotificationModel("Erro ao tentar deletar o tamanho do produto!"));
            }

            isSubmitting = false;
        }
    }
}
