@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using frontend.DTOs
@using frontend.Models.Manage.Forms
@using frontend.Services
@using frontend.Services.API

@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject AppStateService AppState
@inject ProductStateService ProductStateService
@inject ProductCategoryService ProductCategoryService
@inject ProductService ProductService

<div class="one">
    @if (!isUpdating)
    {
        <h1>Informações do Produto</h1>
    } else {
        <h1>
            Editando Produto
            @if (ProductStateService.CategoriesDict.ContainsKey(productFormModel.CategoryId))
            {
                <span>
                    @ProductStateService.CategoriesDict[productFormModel.CategoryId].Reference
                    -@productFormModel.Reference
                </span>
            }
        </h1>
    }
</div>

<EditForm Model="@productFormModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="display--row--above-breakpoint">
        <div class="form-group">
            <label for="category_id">Categoria:</label>
            <InputSelect id="category_id" @bind-Value="productFormModel.CategoryId" disabled="@isSubmitting">
                <option value="0">Selecione uma categoria...</option>
                @foreach (var pair in ProductStateService.CategoriesDict)
                {
                    <option value="@pair.Value.Id">@pair.Value.Title</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => productFormModel.CategoryId)" />
        </div>

        <div class="form-group">
            <label for="reference">Referência:</label>
            <InputText id="reference" name="reference" @bind-Value="productFormModel.Reference" placeholder="001" autocomplete="on" disabled="@isSubmitting" />
            <ValidationMessage For="@(() => productFormModel.Reference)" />
        </div>
    </div>

    <div class="display--row--above-breakpoint">
        <div class="form-group">
            <label for="title">Título:</label>
            <InputText id="title" name="title" @bind-Value="productFormModel.Title" placeholder="Mochila impermeável" autocomplete="on" disabled="@isSubmitting" />
            <ValidationMessage For="@(() => productFormModel.Title)" />
        </div>

        <div class="form-group">
            <label for="priority">Prioridade:</label>
            <InputNumber id="priority" @bind-Value="productFormModel.Priority" disabled="@isSubmitting" />
            <ValidationMessage For="@(() => productFormModel.Priority)" />
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descrição:</label>
        <InputTextArea id="description" name="description" @bind-Value="productFormModel.Description" rows="8" placeholder="Descrição do produto" disabled="@isSubmitting" />
        <ValidationMessage For="@(() => productFormModel.Description)" />
    </div>

    <div class="display--row--above-breakpoint">
        <div class="form-group">
            <Checkbox Id="isActive"
                      BindValue="@productFormModel.IsActive"
                      BindValueChanged="@((checkedVal) => productFormModel.IsActive = checkedVal)"
                      Disabled="@isSubmitting"
                      Label="Ativo" />
        </div>

        <div class="form-group">
            <Checkbox Id="isHighlighted"
                      BindValue="@productFormModel.IsHighlighted"
                      BindValueChanged="@((checkedVal) => productFormModel.IsHighlighted = checkedVal)"
                      Disabled="@isSubmitting"
                      Label="Destacado" />
        </div>
    </div>

    <div>
        @if (isUpdating)
        {
            <button type="submit" disabled="@isSubmitting">
                Atualizar
            </button>
        }
        else
        {
            <button type="submit" disabled="@isSubmitting">
                Adicionar @(productFormModel.CategoryId != 0
              ? ProductStateService.CategoriesDict[productFormModel.CategoryId].Reference + "-" + @productFormModel.Reference
              : "") e continuar para próximo passo
            </button>
        }
    </div>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    @productApiHandler.GetErrorFeedbackComponent(errorMessage)
}

@code {
    [Parameter] public ProductDto? ProductDto { get; set; } 

    private ApiStateHandler<int?> productApiHandler = default!;
    private ProductFormModel productFormModel = default!;
    private ProductFormDto productFormDto = new();
    private bool isUpdating { get; set; } = false;
    private string? errorMessage;
    private bool isSubmitting { get; set; } = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();


        if (ProductDto != null)
        {
            // editing product
            isUpdating = true;
            productFormModel = new(ProductDto);
            productApiHandler = new(ProductService.UpdateProductFunc(productFormDto, ProductDto.Id));
        }
        else
        {
            // adding new product
            productFormModel = new();
            productApiHandler = new(ProductService.CreateProductFunc(productFormDto));
        }
    }

    public void Dispose()
    {
    }

    private async Task HandleValidSubmit()
    {
        isSubmitting = true;
        errorMessage = null;

        // Attempt to create or update product
        productFormDto.FromProductFormModel(productFormModel);
        await productApiHandler.ExecuteAsync();

        if (productApiHandler.IsSuccess())
        {
            // Success
            if (isUpdating){
                // updated product
                NotificationService.DisplaySuccess("Produto atualizado com sucesso.");
            } else {
                // added new product
                if (productApiHandler.Content != null)
                {
                    // Redirect to edit page with the new product ID
                    NotificationService.DisplaySuccess("Produto criado com sucesso.");
                    NavigationManager.NavigateTo($"manage/produtos/editar/{productApiHandler.Content}");
                } else {
                    // product added but API didn't return ID
                    errorMessage = "Produto criado, mas servidor não retornou a ID do novo produto.";
                    NotificationService.DisplayError(errorMessage);
                }
            }
        } else {
            // Error
            NotificationModel errorNotificationModel;
            if (isUpdating)
            {
                // editing
                errorNotificationModel = productApiHandler.GetErrorNotificationModel("Erro ao tentar atualizar informações do producto.");
            }
            else
            {
                // adding new
                errorNotificationModel = productApiHandler.GetErrorNotificationModel("Erro ao tentar criar produto");
            }
            NotificationService.Display(errorNotificationModel);
            errorMessage = productApiHandler.GetErrorString();
        }

        isSubmitting = false;
        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        errorMessage = "Por favor, corrija os erros acima.";
    }
}