@page "/manage/produtos"

@layout ManageLayout

@using frontend.DTOs
@using frontend.Services.API

@inject ProductService ProductService
@inject ProductStateService ProductStateService
@inject NotificationService NotificationService

<PageTitle>Produtos (Gerenciamento)</PageTitle>

<h3>Produtos</h3>

@if (productsApiHandler.IsSuccess() && productsApiHandler.Content != null)
{
    if (productsApiHandler.Content.Any())
    {
        @foreach (var product in productsApiHandler.Content)
        {
            <div>
                <NavLink href="@($"manage/produtos/editar/{product.Id}")">
                    <Svg Path="@Svg.Paths.Edit" />
                </NavLink>

                <NavLink @onclick="() => Delete(product.Id)">
                    <Svg Path="@Svg.Paths.Delete" />
                </NavLink>

                @ProductStateService.CategoriesDict[product.CategoryId].Title

                [<strong>@ProductStateService.GetProductFullReference(product)</strong>] 
                @product.Title<br />
            </div>
        }
    }
    else
    {
        <span>Nenhum produto encontrado!</span>
    }
}
else
{
    @productsApiHandler.GetErrorFeedbackComponent(defaultErrorMessage)
}

@code {
    private ApiStateHandler<List<ProductDto>> productsApiHandler = new();
    private ApiStateHandler<object> productDeleteApiHandler = new();

    private string defaultErrorMessage = "Erro ao tentar recuperar a lista de produtos.";

    protected override async Task OnInitializedAsync()
    {
        await productsApiHandler.ExecuteAsync(ProductService.GetProductsListFunc());

        if (!productsApiHandler.IsSuccess())
        {
            NotificationService.Display(productsApiHandler.GetErrorNotificationModel(defaultErrorMessage));
        }
    }

    private async Task Delete(int id){
        await productDeleteApiHandler.ExecuteAsync(ProductService.DeleteProductFunc(id));

        if (productDeleteApiHandler.IsSuccess())
        {
            NotificationService.DisplaySuccess(
                "Produto excluído com sucesso!"
            );

            await productsApiHandler.ExecuteAsync(ProductService.GetProductsListFunc());

            ProductStateService.UpdateProductsWithList(productsApiHandler.Content);

            StateHasChanged();
        }
        else
        {
            NotificationService.DisplayError(
                "Erro ao tentar excluir o produto",
                productDeleteApiHandler.ErrorMessage ?? "Ocorreu um erro desconhecido."
            );
        }
    }
}