@implements IDisposable

@inject AppStateService AppStateService

<div class="carousel" style="@CarouselStyle">
    <ul class="carousel-content" @ref="CarouselContentRef">
        @for (int i = 0; i < Items.Count; i++)
        {
            var index = i; // Capture loop index in a local variable

            <li id="carousel-item-@i" class="carousel-item @(index == _currentIndex ? "carousel-item--active" : "")"
                @onclick="async () =>
                {
                    if (Items.Count > index && Items[index].OnClick.HasDelegate)
                    {
                        await Items[index].OnClick.InvokeAsync(null);
                    }
                }">
                  @Items[index].Content
            </li>
        }
    </ul>

    @if (AppStateService.IsMobile
        || (!AppStateService.IsMobile && (Pagination == PaginationType.NONE || Pagination == PaginationType.DOTS) && !PaginationArrows))
    {
        <div class="carousel-pagination">
            <div class="carousel-pagination__content" @ref="CarouselPaginationRef">
                @for (int i = 0; i < Items.Count; i++)
                {
                    var index = i;
                    <span id="pagination-item-@i" class="carousel-pagination__dot @(index == _currentIndex ? "active" : "")"
                          @onclick="() => ScrollToIndex(index)">
                    </span>
                }
            </div>
        </div>
    }
    else if (!AppStateService.IsMobile && (PaginationArrows || Pagination == PaginationType.CUSTOM))
    {
        <div class="carousel-pagination">
            @if (PaginationArrows)
            {
                <div class="carousel-pagination__arrow carousel-pagination__arrow--left"
                     @onclick="@(() => ScrollToIndex(_currentIndex - 1))">
                    <Svg Path="@Svg.Paths.ChevronLeft" />
                </div>
                <div class="carousel-pagination__arrow carousel-pagination__arrow--right"
                     @onclick="@(() => ScrollToIndex(_currentIndex + 1))">
                    <Svg Path="@Svg.Paths.ChevronRight" />
                </div>
            }

            <div class="carousel-pagination__content" @ref="CarouselPaginationRef">
                @if (Pagination == PaginationType.CUSTOM)
                {
                    @for (int i = 0; i < Items.Count; i++)
                    {
                        var index = i;
                        <div id="pagination-item-@i" class="carousel-pagination__item carousel-pagination__custom @(index == _currentIndex ? "active" : "")"
                             @onclick="() => ScrollToIndex(index)">
                            @Items[index].PaginationContent
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public List<CarouselItem> Items { get; set; } = new();
    [Parameter] public bool AutoScroll { get; set; } = false;
    [Parameter] public PaginationType Pagination { get; set; } = PaginationType.NONE;
    [Parameter] public bool PaginationArrows { get; set; } = false;

    [Parameter] public int MaxWidth { get; set; } = 0;
    [Parameter] public int MaxHeight { get; set; } = 0;

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;
    private DotNetObjectReference<Carousel>? _dotNetHelper;
    private ElementReference CarouselContentRef;
    private ElementReference CarouselPaginationRef;
    private int _currentIndex = 0;
    private System.Timers.Timer? _scrollTimer;

    protected override void OnInitialized()
    {
        AppStateService.IsMobileChanged += StateHasChanged;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _dotNetHelper = DotNetObjectReference.Create(this);

        await JSRuntime.InvokeVoidAsync(
            "enableDirectionalSwipeScroll",
            CarouselContentRef,
            _dotNetHelper,
            Items.Count,
            _currentIndex
        );

        if (firstRender && AutoScroll)
        {
            _scrollTimer?.Dispose();

            _scrollTimer = new System.Timers.Timer(3000); // scroll every 3 seconds
            _scrollTimer.Elapsed += async (_, _) =>
            {
                await InvokeAsync(async () =>
                {
                    var nextIndex = (_currentIndex + 1) % Items.Count;
                    await ScrollToIndex(nextIndex);
                });
            };
            _scrollTimer.AutoReset = true;
            _scrollTimer.Start();
        }
    }

    [JSInvokable]
    public void UpdateCurrentIndex(int index)
    {
        if (_currentIndex != index)
        {
            _currentIndex = index;
            StateHasChanged();
        }
    }

    [JSInvokable]
    public async Task ScrollToIndex(int index)
    {
        _currentIndex = index;
        StateHasChanged(); // update the active class in both lists

        await JSRuntime.InvokeVoidAsync(
            "scrollCarouselToIndex",
            CarouselContentRef,
            CarouselPaginationRef,
            index
        );

        ResetAutoScrollTimer(); // stop/start the timer!
    }

    private void ResetAutoScrollTimer()
    {
        if (AutoScroll && _scrollTimer != null)
        {
            _scrollTimer.Stop();
            _scrollTimer.Start();
        }
    }

    private string CarouselStyle
    {
        get
        {
            var styles = new List<string>();
            if (MaxWidth > 0)
                styles.Add($"max-width: {MaxWidth}px");
            if (MaxHeight > 0)
                styles.Add($"max-height: {MaxHeight}px");
            return string.Join("; ", styles);
        }
    }

    public void Dispose()
    {
        AppStateService.IsMobileChanged -= StateHasChanged;
        _scrollTimer?.Stop();
        _scrollTimer?.Dispose();
        _dotNetHelper?.Dispose();
    }

    public enum PaginationType
    {
        NONE,
        DOTS,
        CUSTOM
    }
}
