@using frontend.Components.Shared.UI
@using frontend.DTOs
@using frontend.Components.Shared.UI.SVG
@using frontend.Services.API
@using frontend.ViewModels

@inject HttpClient Http
@inject ProductService ProductService
@inject ProductImageService ProductImageService
@inject NotificationService NotificationService

<div class="gallery-editable">
    <div class="gallery-editable__header">
        <label for="file" class="gallery-editable__header-info">
            Clique aqui e escolha os arquivos, ou os arraste aqui!
        </label>

        <InputFile class="gallery-editable__input-file"
            id="file" 
            name="file"
            multiple
            accept=".jpeg,.jpg,.png,.webp"
            OnChange="HandleFiles"
            @ondragenter="HandleFilesDragEnter"
            @ondragleave="HandleFilesDragEnd"
            maxAllowedSize
            @ref="inputFileRef" 
        />

        <div class="gallery-editable__drop-files-overlay @(isDragging ? "gallery-editable__drop-files-overlay--show" : "")">
            <Svg Path="@Svg.Paths.Upload" Width="30" Height="30" />
            <span>Solte os arquivos aqui!</span>
        </div>

        <span class ="gallery-editable__header-info">O número no canto superior esquerdo é a prioridade da foto. Quanto menor, antes aparece para os clientes. Arraste as fotos para reordená-las. </span>

        <div class="gallery-editable__reorder-save-overlay @(orderingChanged ? "gallery-editable__reorder-save-overlay--visible" : "")">
            <button @onclick="@(() => SaveReordering())">SALVAR NOVA ORDEM DAS FOTOS</button>
        </div>

        <ContentLoader ExtraClass="@_contentLoaderExtraClass">
            <div>Progresso @_fileUploadCounter/@_totalFilesToUpload</div>
            <div>Uploading @_currentFile</div>
        </ContentLoader>
    </div>

    <div class="gallery-editable__images">
        @if (images.Any() == true)
        {
            @foreach (var productImage in images)
            {
                <div 
                    class="gallery-editable__draggable-image"
                    draggable="@(!deletingImages.Any() ? "true" : "false")"
                    @ondragstart="@(() => HandleReorderStart(productImage.Id))"
                    @ondragover="@((e) => HandleReorderOver(e, productImage.Id))"
                    @ondrop="@(() => HandleReorderEnd(productImage.Id))"
                >
                    <div class="gallery-editable__image-priority">
                        @productImage.Priority
                    </div>

                    <button 
                        class="gallery-editable__delete-button  @(isUploading ? "disabled" : "")" 
                        @onclick="@(() => DeleteImage(productImage.Id))"
                        draggable="false"
                        disabled="@(isUploading || orderingChanged)"
                        title="@((isUploading || orderingChanged) ? "Não é permitido remover as imagens agora!" : "Remover image" )"
                    >
                        Remover
                    </button>

                    <img src="@productImage.ThumbnailFilePath" draggable="false" />

                    @if (deletingImages.Contains(productImage.Id)) // 🔹 Show loader only for deleting images
                    {
                        <ContentLoader ExtraClass="gallery-editable__content-loader gallery-editable__content-loader--visible" DisplayMessage="Removendo imagem..." />
                    }
                </div>
            }
        }
        else
        {
            <span>Nenhuma imagem encontrada.</span>
        }
    </div>
</div>

@code {
    [Parameter]
    public required ApiStateHandler<ProductDto> Product { get; set; }

    [Parameter]
    public int? VariantId { get; set; }

    @* [Parameter] *@
    @* public int ProductId { get; set; } *@

    @* [Parameter] *@
    @* public ProductViewModel? Product { get; set; } *@

    private List<ProductImageDto> images { get; set; } = [];
    private ApiStateHandler<List<ProductImageDto>> imagesApiHandler = default!;

    @* private List<ProductImageDto> uploadedFiles = new(); // List to store uploaded file details *@
    private InputFile? inputFileRef;
    private bool isUploading = false; // Tracks upload status
    private int _dragDepth = 0;
    private bool isDragging = false; // Prevents continuous event firing
    private int? draggedProductId = null; // Stores the ID of the dragged item
    private bool orderingChanged = false;
    private int _totalFilesToUpload;
    private int _fileUploadCounter;
    private string _currentFile = "";
    private string _contentLoaderExtraClass = "gallery-editable__content-loader";
    private HashSet<int> deletingImages = new();
    private NotificationModel orderingChangedNotification = new NotificationModel
        {
            Content =@<span>Ordem das fotos modificada! Não esqueça de salvar as alterações.</span>  ,
            Sticky = true,
            Type = NotificationType.Warning
        };

    protected override void OnInitialized()
    {
        if (VariantId == null){
            images = Product.Content!.Images;
            imagesApiHandler = new(ProductService.FetchProductImagesFunc(Product.Content.Id));
        }
        else
        {
            // Variant's existence is already checked on parent
            images = Product.Content!.Variants.Find(v => v.Id == VariantId)!.Images;
            imagesApiHandler = new(ProductService.FetchProductVariantImagesFunc((int)VariantId));
        }
    }

    private void HandleReorderStart(int productId)
    {
        if (!deletingImages.Any())
        {
            draggedProductId = productId;
        }
    }

    private void SetOrderingChanged(bool isChanged)
    {
        if (orderingChanged != isChanged)
        {
            orderingChanged = isChanged;

            if (isChanged)
            {
                NotificationService.Display(orderingChangedNotification);
            }
            else
            {
                NotificationService.RemoveNotification(orderingChangedNotification);
            }
        }
    }

    private void HandleReorderOver(DragEventArgs e, int hoveredProductId)
    {
        if (draggedProductId == null || draggedProductId == hoveredProductId || images == null)
            return;

        var draggedItem = images.FirstOrDefault(im => im.Id == draggedProductId);
        var hoveredItem = images.FirstOrDefault(im => im.Id == hoveredProductId);

        if (draggedItem != null && hoveredItem != null)
        {
            int draggedIndex = images.IndexOf(draggedItem);
            int hoveredIndex = images.IndexOf(hoveredItem);

            // Swap positions
            images.RemoveAt(draggedIndex);
            images.Insert(hoveredIndex, draggedItem);

            // Swap priorities
            int tempPriority = draggedItem.Priority;
            draggedItem.Priority = hoveredItem.Priority;
            hoveredItem.Priority = tempPriority;

            // Reorder to reflect changes
            images = images.OrderBy(im => im.Priority).ToList();

            SetOrderingChanged(true);
            @* orderingChanged = true; *@

            StateHasChanged(); // 🔹 Force UI to re-render
        }
    }

    private void HandleReorderEnd(int droppedProductId)
    {
        draggedProductId = null; // Reset drag state
    }

    private void HandleFilesDragEnter()
    {
        if (!isUploading)
        {
            _dragDepth++;
            if (!isDragging) // Prevent spamming
            {
                Console.WriteLine($"GalleryEditable HandleDragOver, depth: {_dragDepth}");
                isDragging = true;
                StateHasChanged();
            }
        }
    }

    private async Task SaveReordering(){
        if (images != null)
        {
            var response = await ProductImageService.UpdateOrdering(images);

            if (response == null)
            {
                throw new Exception($"Image reordering failed");
            }

            if (!response.IsSuccessStatusCode)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                throw new Exception($"[{response.StatusCode}] {errorMessage}");
            }

            SetOrderingChanged(false);
            NotificationService.Display(new NotificationModel{
                Content =@<span>Nova ordem das fotos foram salvas com sucesso!</span>,
                Type = NotificationType.Success
            });
            Console.WriteLine($"Successfully reordered images");
        }
    }

    private void HandleFilesDragEnd()
    {
        if (!isUploading)
        {
            _dragDepth--;
            if (_dragDepth <= 0)
            {
                Console.WriteLine($"GalleryEditable HandleDragEnd, depth: {_dragDepth}");
                isDragging = false;
                StateHasChanged();
            }
        }
    }

    private async Task HandleFiles(InputFileChangeEventArgs e)
    {
        _dragDepth = 0;
        if (!isUploading)
        {
            isDragging = false;
            isUploading = true;
            _contentLoaderExtraClass = "gallery-editable__content-loader gallery-editable__content-loader--visible";

            var files = e.GetMultipleFiles().ToList();
            _totalFilesToUpload = files.Count;

            if (files.Count == 0)
            {
                NotificationService.DisplayError("Nenhum arquivo válido para upload.");
                isUploading = false;
                return;
            }

            Console.WriteLine($"Uploading {files.Count} file(s)...");

            await ProductImageService.UploadFilesToServerAsync(files, Product.Content!.Id, VariantId);

            // Check success and update notifications
            if (ProductImageService.UploadProductImage.IsSuccess())
            {
                NotificationService.DisplaySuccess("Upload feito com sucesso!");
            }
            else
            {
                NotificationService.Display(
                    ProductImageService.UploadProductImage.GetErrorNotificationModel("Erro no upload das imagens ao servidor."));
            }

            isUploading = false;
            _contentLoaderExtraClass = "gallery-editable__content-loader";
            inputFileRef = null;

            // Trigger image reload
            @* if (VariantId == null) *@
            @* { *@
            @*     ProductImageService.NotifyProductImagesChanged(); *@
            @* } *@
            @* else *@
            @* { *@
            @*     ProductImageService.NotifyProductVariantImagesChanged(VariantId.Value); *@
            @* } *@

            await RefetchImages();
        }
    }

    private async Task DeleteImage(int imageId)
    {
        if (!isUploading)
        {
            Console.WriteLine($"GalleryEditable->Delete ID: {imageId}");
            deletingImages.Add(imageId); // Track which image is being deleted
            StateHasChanged(); // Force UI update
            await ProductImageService.DeleteImage(imageId);

            if (ProductImageService.DeleteProductImage.IsSuccess())
            {
                images.RemoveAll(im => im.Id == imageId);
            }
            deletingImages.Remove(imageId); // Remove from tracking list

            @* if (VariantId == null) *@
            @* { *@
            @*     ProductImageService.NotifyProductImagesChanged(); *@
            @* } *@
            @* else *@
            @* { *@
            @*     ProductImageService.NotifyProductVariantImagesChanged(VariantId ?? 0); *@
            @* } *@

            await RefetchImages();

            StateHasChanged(); // Update UI again
        }
    }

    private async Task RefetchImages(){
        await imagesApiHandler.ExecuteAsync();

        if (imagesApiHandler.IsSuccess() && imagesApiHandler.Content != null)
        {
            Product.Content!.Images = imagesApiHandler.Content;
            images = imagesApiHandler.Content;
            Console.WriteLine("GalleryEditable->RefetchProductImages: " + imagesApiHandler.Content.Count);
            StateHasChanged();
        }
        else
        {
            NotificationService.Display(imagesApiHandler.GetErrorNotificationModel("Erro na tentativa de recuperar as imagens atualizadas do produto."));
        }
    }
}