@using frontend.Components.Shared.UI
@using frontend.DTOs
@using frontend.Components.Shared.UI.SVG
@using frontend.Services.API
@using frontend.ViewModels

@inject HttpClient Http
@inject ProductImageService ProductImagesService

<div class="gallery-editable">
    <div class="gallery-editable__header">
        <label for="file" class="gallery-editable__header-info">
            Clique aqui e escolha os arquivos, ou os arraste aqui!
        </label>

        <InputFile class="gallery-editable__input-file"
        id="file" 
        name="file"
        multiple
        accept=".jpeg,.jpg,.png,.webp"
        OnChange="HandleFiles"
        @ondragenter="HandleFilesDragEnter"
        @ondragleave="HandleFilesDragEnd"
        maxAllowedSize
        @ref="inputFileRef" 
        />

        <div class="gallery-editable__drop-files-overlay @(isDragging ? "gallery-editable__drop-files-overlay--show" : "")">
            <Svg Path="@Svg.Paths.Upload" Width="30" Height="30" />
            <span>Solte os arquivos aqui!</span>
        </div>

        <span class ="gallery-editable__header-info">O número no canto superior esquerdo é a prioridade da foto. Quanto menor, antes aparece para os clientes. Arraste as fotos para reordená-las. </span>

        <div class="gallery-editable__reorder-save-overlay @(orderingChanged ? "gallery-editable__reorder-save-overlay--visible" : "")">
            <button @onclick="@(() => SaveReordering())">SALVAR NOVA ORDEM DAS FOTOS</button>
        </div>

        <ContentLoader ExtraClass="@_contentLoaderExtraClass">
            <div>Progresso @_fileUploadCounter/@_totalFilesToUpload</div>
            <div>Uploading @_currentFile</div>
        </ContentLoader>
    </div>

    <div class="gallery-editable__images">
        @if (Product?.Images?.Items?.Any() == true)
        {
            @foreach (var productImage in Product.Images.Items)
            {
                <div 
                class="gallery-editable__draggable-image"
                     draggable="@(!_deletingImages.Any() ? "true" : "false")"
                @ondragstart="@(() => HandleReorderStart(productImage.Id))"
                @ondragover="@((e) => HandleReorderOver(e, productImage.Id))"
                @ondrop="@(() => HandleReorderEnd(productImage.Id))"
                >
                    <div class="gallery-editable__image-priority">
                        @productImage.Priority
                    </div>

                    <button 
                        class="gallery-editable__delete-button  @(isUploading ? "disabled" : "")" 
                        @onclick="@(() => DeleteImage(productImage.Id))"
                        draggable="false"
                        disabled="@(isUploading || orderingChanged)"
                            title="@((isUploading || orderingChanged) ? "Não é permitido remover as imagens agora!" : "Remover image" )">
                        Remover
                    </button>

                    <img src="@productImage.ThumbnailFilePath" draggable="false" />

                    @if (_deletingImages.Contains(productImage.Id)) // 🔹 Show loader only for deleting images
                    {
                        <ContentLoader ExtraClass="gallery-editable__content-loader gallery-editable__content-loader--visible" DisplayMessage="Removendo imagem..." />
                    }
                </div>
            }
        }
        else
        {
            <span>Nenhuma imagem encontrada.</span>
        }
    </div>
</div>

@code {
    [Parameter]
    public int ProductId { get; set; }

    [Parameter]
    public ProductViewModel? Product { get; set; }

    @* private List<ProductImageDto> uploadedFiles = new(); // List to store uploaded file details *@
    private InputFile? inputFileRef;
    private bool isUploading = false; // Tracks upload status
    private int _dragDepth = 0;
    private bool isDragging = false; // Prevents continuous event firing
    private int? draggedProductId = null; // Stores the ID of the dragged item
    private bool orderingChanged = false;
    private int _totalFilesToUpload;
    private int _fileUploadCounter;
    private string _currentFile = "";
    private string _contentLoaderExtraClass = "gallery-editable__content-loader";
    private HashSet<int> _deletingImages = new();

    private void HandleReorderStart(int productId)
    {
        if (!_deletingImages.Any())
        {
            draggedProductId = productId;
        }
    }

    private void HandleReorderOver(DragEventArgs e, int hoveredProductId)
    {
        if (draggedProductId == null || draggedProductId == hoveredProductId)
            return;

        var draggedItem = Product?.Images?.Items.FirstOrDefault(im => im.Id == draggedProductId);
        var hoveredItem = Product?.Images?.Items.FirstOrDefault(im => im.Id == hoveredProductId);

        if (draggedItem != null && hoveredItem != null && Product?.Images != null)
        {
            int draggedIndex = Product.Images.Items.IndexOf(draggedItem);
            int hoveredIndex = Product.Images.Items.IndexOf(hoveredItem);

            // Swap positions
            Product.Images.Items.RemoveAt(draggedIndex);
            Product.Images.Items.Insert(hoveredIndex, draggedItem);

            // Swap priorities
            int tempPriority = draggedItem.Priority;
            draggedItem.Priority = hoveredItem.Priority;
            hoveredItem.Priority = tempPriority;

            // Reorder to reflect changes
            Product.Images.Reorder(im => im.Priority);

            orderingChanged = true;

            StateHasChanged(); // 🔹 Force UI to re-render
        }
    }

    private void HandleReorderEnd(int droppedProductId)
    {
        draggedProductId = null; // Reset drag state
    }

    private void HandleFilesDragEnter()
    {
        if (!isUploading)
        {
            _dragDepth++;
            if (!isDragging) // Prevent spamming
            {
                Console.WriteLine($"GalleryEditable HandleDragOver, depth: {_dragDepth}");
                isDragging = true;
                StateHasChanged();
            }
        }
    }

    private async Task SaveReordering(){
        if (Product != null && Product.Images != null)
        {
            List<ProductImagePriorityDto> productImagePriorityDtoList = [];

            foreach (var image in Product.Images.Items){
                productImagePriorityDtoList.Add(new ProductImagePriorityDto{
                        Id = image.Id,
                        Priority = image.Priority
                });
            }

            var response = await ProductImagesService.UpdateOrdering(productImagePriorityDtoList);

            if (response == null)
            {
                throw new Exception($"Image reordering failed");
            }

            if (!response.IsSuccessStatusCode)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                throw new Exception($"[{response.StatusCode}] {errorMessage}");
            }

            orderingChanged = false;
            Console.WriteLine($"Successfully reordered images");
        }
    }

    private void HandleFilesDragEnd()
    {
        if (!isUploading)
        {
            _dragDepth--;
            if (_dragDepth <= 0)
            {
                Console.WriteLine($"GalleryEditable HandleDragEnd, depth: {_dragDepth}");
                isDragging = false;
                StateHasChanged();
            }
        }
    }

    private async Task HandleFiles(InputFileChangeEventArgs e)
    {
        _dragDepth = 0;
        if (!isUploading)
        {
            if (Product != null)
            {
                isDragging = false;
                isUploading = true;
                _contentLoaderExtraClass = "gallery-editable__content-loader gallery-editable__content-loader--visible";
                _totalFilesToUpload = e.GetMultipleFiles().Count();

                foreach (var file in e.GetMultipleFiles())
                {
                    _fileUploadCounter++;
                    _currentFile = file.Name;
                    StateHasChanged();
                    Console.WriteLine($"File Selected: {file.Name}");
                    await ConvertAndUploadImage(file);
                }

                await Product.LoadImagesAsync();
                isUploading = false;
                inputFileRef = null;
                _contentLoaderExtraClass = "gallery-editable__content-loader";
                @* StateHasChanged(); *@
            }
        }
    }

    private async Task ConvertAndUploadImage(IBrowserFile file)
    {
        try
        {
            Console.WriteLine("📌 Reading file bytes...");
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream(ProductImageService.MaxFileSize).CopyToAsync(memoryStream);
            byte[] fileBytes = memoryStream.ToArray();

            Console.WriteLine("📌 Uploading file...");
            var response = await ProductImagesService.UploadFileToServer(ProductId, file);

            if (response == null)
            {
                throw new Exception($"Upload failed for {file.Name}");
            }

            if (!response.IsSuccessStatusCode)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                throw new Exception($"[{response.StatusCode}] {errorMessage}");
            }

            Console.WriteLine($"✅ Successfully uploaded {file.Name}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"❌ Error processing file {file.Name}: {ex.Message}");
        }
    }

    private async Task DeleteImage(int imageId)
    {
        if (!isUploading)
        {
            Console.WriteLine($"GalleryEditable->DeleteImage {imageId}");
            _deletingImages.Add(imageId); // Track which image is being deleted
            StateHasChanged(); // Force UI update
            await Task.Delay(10000);
            var response = await ProductImagesService.DeleteImage(imageId);

            if (response == null)
            {
                throw new Exception($"Delete failed for image");
            }

            if (!response.IsSuccessStatusCode)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                throw new Exception($"[{response.StatusCode}] {errorMessage}");
            }

            if (Product != null && Product.Images != null)
            {
                var image = Product.Images.Items.Find(i => i.Id == imageId);

                if (image != null)
                {
                    // Save the priority of the image we're about to remove.
                    int removedPriority = image.Priority;

                    // Remove the image from the local list.
                    Product.Images.Items.Remove(image);

                    // Reorder the remaining images:
                    // For each image with a priority higher than the removed image, decrement its priority.
                    foreach (var img in Product.Images.Items)
                    {
                        if (img.Priority > removedPriority)
                        {
                            img.Priority--;
                        }
                    }
                }
                else
                {
                    await Product.LoadImagesAsync();
                }
            }

            _deletingImages.Remove(imageId); // Remove from tracking list
            StateHasChanged(); // Update UI again
        }
    }

}
